.react-calendar {
    box-shadow: 1px 2px 1px -1px rgb(0 0 0 / 25%),
        1px 1px 1px 0px rgb(0 0 0 / 20%), 0px 1px 3px 2px rgb(0 0 0 / 12%);
    border: 0;
    border-radius: 2%;
    height: 350px;
    display:inline-block;
}
.react-calendar button {
    width: 36px;
    border-radius: 50%;
    border: 1px solid #50a9c1;
}

.react-calendar__month-view__days__day--weekend {
    color: black;
}
.journal {
    border: 1px solid lightgrey;
}
.react-calendar__navigation button {
    border: 0;
}
.react-calendar__tile--active {
    background: #50a9c1;
    color: white;
}

.react-calendar__month-view__weekdays {
    color: #3088a0;
}
.react-calendar__tile--now {
    background: #cde6ed;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
    background: #50a9c1;
}
.react-calendar__tile:disabled {
    background-color: white;
    color: grey;
    border: none;
}
#clear_selection_button {
    margin-top: 20px
}
.react-calendar__tile--now:hover{
    background: #50a9c1;
}