#my_journals_bg{
   background-image: url("../assets/myjournals_bg.svg"); 
   background-color: aliceblue;
   background-size: 600px;
   background-repeat: no-repeat;
   height: 30vh;
   background-position: 30% -30%;
}
#compose{
    display: flex;
    justify-content: space-around;
}
#compose_btn{
    margin:30px;
}