.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.315);
  z-index: 10;
  display: inline-block;
}

.modal-main {
  position: fixed;
  background: white;
  width: 70%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -45%);
  border-radius: 15px;
  padding: 20px;
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
}

@media screen and (min-width: 930px) {
  .modal-main {
    width: 40%;
    transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
}
section.modal-main img.modal-image {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

h3.description {
  padding-left: 10px;
}

button.ui.mini.button.back {
  margin-left: 10px;
  margin-top: 5px;
}
